.test {
  /* background-color: black; */
}

.comment_form {
  border: 1px solid black;
  margin: 5px;
  border-radius: 10px;
}
.comments_input {
  padding: 15px;
  height: 90px;
  display: flex;
  border: none;
  /* width: 10px; */
}

.comments_input_button_row {
  /* background: #dae0e6; */
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
.comments_input_button_row_button {
  margin-bottom: 2px;
  border-radius: 15px;
  width: 115%;
}
.comment_card {
  padding: 10px;
  margin: 6px;
}
.comment_card_username {
  font-size: 80%;
  color: #f93154;
}
